
.tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.tabs__tab {
    display: inline-block;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.tabs__tab_active {
    background-color: #dddddd47;
}

.tabs-content__content {
    display: none;
}

.tabs-content__content_active {
    display: block;
}

.table__cell {
    border-top: none!important;
    font-size: 16px;
    font-weight: bold;
}

.table__cell_yellow {
    background-color: yellow;
}

.table__cell_color-green {
    color: green;
}

.table__cell_color-red {
    color: red;
}

.info__line{
    height: 2px;
    background-color: #3574AE;
    margin: 10px 0;
}

.charity-comment {
    width: 100%;
    min-height: 100px;
}

.content__info,
.content__history-list{
    max-width: 500px;
    width: 100%;
}

.table__noborder {
    border-top: none!important;
}

.table {
    width: 100%;
}